<div class="form-group">
    @if (this.Label != null)
    {
        <label for="@Id">@Label</label>
    }


    <input type="@Type"
           id="@Id"
           name="@Id"
           class="form-control" />
</div>

@code {

}
