@using System.Reflection.Metadata
@using System.Data
@using devops_project_web_t4.Areas.Controllers
@using devops_project_web_t4.Pages.Seat
@using Microsoft.VisualBasic
@using Controller = Microsoft.AspNetCore.Mvc.Controller
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1922px"
     height="1081px" viewBox="-0.5 -0.5 1922 1081"
     content="&lt;mxfile host=&quot;Electron&quot; modified=&quot;2021-10-25T11:17:20.523Z&quot; agent=&quot;5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) draw.io/15.4.0 Chrome/91.0.4472.164 Electron/13.5.0 Safari/537.36&quot; etag=&quot;Er2UCnabaD5i9nmq5EVI&quot; version=&quot;15.4.0&quot; type=&quot;device&quot;&gt;&lt;diagram id=&quot;ILNOlt0z3M_0R8Eeoxdw&quot; name=&quot;Pagina-1&quot;&gt;7V1Rl5o4FP41Pk6PEEB8rNNO222nZ3bbbc+Zlx6UDNJB4mKs4/z6BSWOwEWDQxJQ9qHrBAT5vuTmfjf3hh66nj19iJz59Ja4OOjpffeph971dB0hQ4//l7Ssty1DM23wIt/dNmkvDd/8Z5w29tPWpe/iReZESkhA/Xm2cULCEE9ops2JIrLKnvZAguxd546HCw3fJk5QbP3pu3Satg71/suBj9j3puzWej89MnPY2WnDYuq4ZLXXhN730HVECN1+mj1d4yBBjwGz/d5NydHdL4twSHm+cH//X/Dxr+f5nwHxp7efHtDzT/sKba/yxwmW6ROnP5auGQReRJbz4s3S+//BEcVPEBfOmF3h5WnjfoLJDNNoHZ+33kG2/d4KAni6D27fTludlFZvd7WXB48/pM9eAQfjOA4xDKGLk4v0e2i0mvoUf5s7k+ToKu78cduUzuKbvtPijwsakUd8TQISxS0hCePTRg9+ELCmno76m//i9iK4B7nKI16ObH8AQGtaILSCgDWPA5s8kB8PuS/OGAd3ZOFTn4TxoTGhlMxifNgJbwPfSw5Qkkd76syTi82evMQMvRk7C3/yxvUd71dMhJ8cG21skoGUc8OOmkYKeUqWbRW5QgOAKnFcWY3iamAnn/woNiXbeyzIMgGmIfwhM8ufZhb5MyH+Broo/gZnZcTY0X5uoAyAgWLINGn2OcKs28dRtmWiPKwZ5cZakrwhgZDXAOSRMOjZhU/wCitBwu8qpt8y9eNQIchzFIiVdhwr5dZgRyi/1YU6oVTHUdNbagCqg73rnepGPIcObDvY6sBtg7g8DUipfpdW1JJf/AfaSwy+5cwSkLb/JtA6oU8dPyoAHT8c5YEwbdpD/YGENA1Q6Qb7O72wBiifme+6ycGRkzZMYgZwfO1RluxdXCi5iBc4i0V6wHUW081ZG84fMZ1M0yPCLNHAzMyvYGgG0jSGMM45NGkjDVPlYM0AitVAdkoY1HXLx8ZC/SIplWFdt4ZsLNa2zQe1sMiuVreQbASsoEiU6p+zqUENrlB/rx1rdtRgdqCiqdaGwsBvg+p8PdCg8UBSe3ndKrS5vdziAR/CXpjzp9etSpsLfr7nq3dR9Dao1spA2xyLCRq89iwKZ44V0hbhnOJqDpX7JxejHI2+YhdbvxjlaPKuzQiD+mKEow5ZEKlQn6Vw1AGvzpYaxmWEnXEXZs4G4uvC4iwzOkudaAO+sSnVaUN1y8LG9uFinhOnKjSFYa9UFYrC2crl30AO9C63WE4fP0sBqO285QMToikV56IAnEgEWmaYo4A9t48nDPy6VWJjsbebh/155qtqHCEmqZEQdJYJqxpPxqpcYXNegrFswlSOM7vZIZwDfwPWFkFWuaWXmNz9JB/p2e25XszrXgtbWjTOUjLmjQXoXkvNb2eVkY1LsrYHOUcBcJDBwiQ0GLwxRaHVBtG3o7SCus5iDWUCSzauSlXfKxzi6uAj6yTTK84hNtqwFPiKTq6uU3OovCq2thSDysXP4Co/FCIW1+nqVmFAFnV5dJO5ZqhCB7RKwD/gZBVAhqZ6gRjXrsBYzvgmgXw/Nbzo8QJ8eJHj+jHKuWZhBAxPNLSi6KhdqLWaDtVr2iza2tGxPVn18DBrV4Dt5kP5+OBQimfJR0OmC7N27dku/JX3/9olabvwVz8h1K5LW0aA8hHAoV/rjnhnqk95oT09NsCCjapjMGZRDr/HdErwYwHxSyolrsAsYxLYDwkMbQgrHzGLqvve76isPkj13AogWBYul9qigh8tI5xsPnnBzJ6w+pg1vmBKiExe2UTb8VpvlRNYsCqV2GJMoSP2lKQXnmxcqcQWgxPXZEWiRz/0Om4rJUfyWGMoM1Uct8XAx/elH3a0VlM4uU3r4HI9qbwWAyrfcRTF9+mYrZTpmTPGlnLJY3FEak4NFJTw0M/xkIEe6CPwBsEZ9pI/7hwa0x9uWvR+hRhE9fJZ1TvUWAKjO+dKGuIMFIkjjSNtoiMttxeU6kJ1iyMPoyMtS9qQM/gtjrRirOd7sqLQ+SqvqLyChiKUEyXMU2ERiVcPxRVe0JNGIseYOm2wCvM387UCyiuLBhyZIh2Jh+Wg8o32B8UITkfisTAcR02UXBKLoZrPePmIu2BNJWKHOV6ZnlYm6AfFUM0/eILn1Mcds5X2V9DzzO6KldSRqz5aU06EciObL1g3hzBjgJW1hDGmPlTTYMbyr2dpBGPFOM0IR163OlXV5THs7LsBhoZy81mM5tz4mC5wuKBOEBygWDGb/ENaGJv57YagLbU0UQEBbfyRON5X7Fnr1Z+Hz3S+Dv0rjWcXyZa/i5SMfycvqdX7QfL6xP1nHG+TITYtYxxiN/Hc++nBg7ilJcNZpOuo3evp6OYGoeGwMJmhvGkCGDlMcYWYRz5wBaSyIMjsnLBBQvxnyhDcb71wNEO/rm6f//37ZvgwHX/59PX2qhgC+RHPL46Lo2fHuZj0lvr4zrANJi7VlANRPhgzBGaH5NHhqG2d+tLhyF5/SuOxh59Jcq3RHEd+/GsTbl7a714aj4/aJ8zena2Bo7VsXJdk0u97qiGJtvW6cgY8x1txddAen/BW1WPj/fHHcrXWbv55or9tY7K6n83nd8B4PzRLcU9J/GjyQoeAKV1c3XPJYOCotGUjwplQwtHZD1eIxJ3bNbHtGnl/C6gy2fuOrY+RZW1MI3XSjn+V+D9QVz/YLfgtXX7jHyB5BNokoY59NWGy2A9qDVnCqVFHhd5RsTnKudeYQCY47H2jmJBnwfLb54gzYFV1k8bhqG3LAJXJJiHErLMIH9/bTJbPxFHBq8hpMvt5r6kY1gL1ZS078JXYHI40pUbZHN6ObJTwW8oOVA8q2f5zRKUugwsN0BOiuIB/ctucorKpGLBvnHwdJ2fdFLI4Ns24VLJ0vWlknYuTK4CsvJernKt2qnSBzMjUG5NdbWNWchyVG9r2zV1K9YY/czz8djHfeO8lcdzXOgvlEkTWKg38BNV2AJWpQDQtt+gBvTWKLb5nFEgdKffwTx622NUaVpHW1fcSzTlaQIagXIEybNt8AC0u1U9X+f66okqoS+hpmx8slR6gxF0uPTzJ77VMzXxbIGcqxU4JFVa2Z8BEDYYKT5hr4j8jQujesQ8xXNNb4iY+1fv/AQ==&lt;/diagram&gt;&lt;/mxfile&gt;">
<defs />
<g>
    <rect x="1" y="1070" width="1560" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <path d="M 1541 1070 L 1911 860 L 1911 871.62 L 1561.48 1070 Z" fill="#000000" stroke="none"
          pointer-events="all" />
    <path d="M 1276 795 L 1996 225 L 1996 235.83 L 1289.68 795 Z" fill="#000000" stroke="none"
          transform="rotate(90,1636,510)" pointer-events="all" />
    <rect x="1041" y="760" width="40" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="281" y="760" width="80" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="201" y="910" width="310" height="10" fill="#000000" stroke="none" transform="rotate(90,356,915)"
          pointer-events="all" />
    <rect x="681" y="760" width="160" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="681" y="910" width="310" height="10" fill="#000000" stroke="none" transform="rotate(90,836,915)"
          pointer-events="all" />
    <rect x="371" y="910" width="310" height="10" fill="#000000" stroke="none" transform="rotate(90,526,915)"
          pointer-events="all" />
    <rect x="521" y="760" width="40" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="596" y="880" width="170" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 900px; margin-left: 681px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Lift &amp; sanitair
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="681" y="907" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Lift &amp; sanitair</text>
        </switch>
    </g>
    <rect x="-9" y="780" width="30" height="10" fill="#000000" stroke="none" transform="rotate(90,6,785)"
          pointer-events="all" />
    <rect x="-9" y="1050" width="30" height="10" fill="#000000" stroke="none" transform="rotate(90,6,1055)"
          pointer-events="all" />
    <rect x="-34" y="915" width="80" height="10" fill="#000000" stroke="none" transform="rotate(90,6,920)"
          pointer-events="all" />
    <rect x="1" y="760" width="160" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1341" y="860" width="190" height="10" fill="#000000" stroke="none" transform="rotate(90,1436,865)"
          pointer-events="all" />
    <rect x="1431" y="880" width="130" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1566" y="945" width="140" height="10" fill="#000000" stroke="none" transform="rotate(90,1636,950)"
          pointer-events="all" />
    <rect x="1421" y="1050" width="30" height="10" fill="#000000" stroke="none" transform="rotate(90,1436,1055)"
          pointer-events="all" />
    <rect x="841" y="760" width="120" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1" y="590" width="160" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="-34" y="435" width="80" height="10" fill="#000000" stroke="none" transform="rotate(90,6,440)"
          pointer-events="all" />
    <rect x="-9" y="570" width="30" height="10" fill="#000000" stroke="none" transform="rotate(90,6,575)"
          pointer-events="all" />
    <rect x="-9" y="300" width="30" height="10" fill="#000000" stroke="none" transform="rotate(90,6,305)"
          pointer-events="all" />
    <rect x="1" y="280" width="840" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="696" y="135" width="280" height="10" fill="#000000" stroke="none" transform="rotate(90,836,140)"
          pointer-events="all" />
    <rect x="841" y="0" width="520" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1281" y="80" width="150" height="10" fill="#000000" stroke="none" transform="rotate(90,1356,85)"
          pointer-events="all" />
    <rect x="681" y="590" width="200" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1401" y="280" width="50" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="256" y="435" width="300" height="10" fill="#000000" stroke="none" transform="rotate(90,406,440)"
          pointer-events="all" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 8px; height: 1px; padding-top: 440px; margin-left: 402px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;">
                            c
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="406" y="444" fill="#000000" font-family="Helvetica" font-size="12px"
                  text-anchor="middle">c</text>
        </switch>
    </g>
    <rect x="656" y="435" width="300" height="10" fill="#000000" stroke="none" transform="rotate(90,806,440)"
          pointer-events="all" />
    <rect x="1141" y="760" width="60" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1281" y="760" width="40" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1401" y="760" width="40" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <path d="M 991 105 L 1181 105" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          transform="rotate(90,1086,105)" pointer-events="all" />
    <rect x="281" y="590" width="280" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1001" y="590" width="240" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="1086" y="435" width="300" height="10" fill="#000000" stroke="none" transform="rotate(90,1236,440)"
          pointer-events="all" />
    <rect x="1001" y="280" width="240" height="10" fill="#000000" stroke="none" pointer-events="all" />
    <rect x="821" y="380" width="200" height="80" fill="none" stroke="#000000" stroke-width="3"
          transform="rotate(90,921,420)" pointer-events="all" />
    <rect x="961" y="330" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="961" y="380" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="961" y="430" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="961" y="480" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="871" y="330" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="871" y="380" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="871" y="430" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <rect x="871" y="480" width="10" height="30" fill="none" stroke="#000000" stroke-width="2"
          pointer-events="all" />
    <path d="M 856 450 L 1156 450" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="6 6" transform="rotate(90,1006,450)" pointer-events="all" />
    <rect x="871" y="530" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 550px; margin-left: 921px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Eethoek
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="921" y="557" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Eethoek</text>
        </switch>
    </g>
    <rect x="1071" y="400" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 420px; margin-left: 1121px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Zithoek
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1121" y="427" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Zithoek</text>
        </switch>
    </g>
    <rect x="11" y="290" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 310px; margin-left: 61px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Bureel
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="61" y="317" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Bureel</text>
        </switch>
    </g>
    <rect x="841" y="770" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 790px; margin-left: 891px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Bureel
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="891" y="797" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Bureel</text>
        </switch>
    </g>
    <rect x="1251" y="10" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 30px; margin-left: 1301px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Bureel
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1301" y="37" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Bureel</text>
        </switch>
    </g>
    <rect x="411" y="290" width="150" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 310px; margin-left: 486px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Coworking
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="486" y="317" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Coworking</text>
        </switch>
    </g>
    <rect x="1321" y="400" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 420px; margin-left: 1371px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Tuin
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1371" y="427" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Tuin</text>
        </switch>
    </g>
    <rect x="1151" y="650" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 670px; margin-left: 1201px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Terras
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1201" y="677" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Terras</text>
        </switch>
    </g>
    <path d="M -34 520 L 46 520" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(90,6,520)" pointer-events="all" />
    <path d="M -34 360 L 46 360" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(90,6,360)" pointer-events="all" />
    <path d="M -34 840 L 46 840" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(90,6,840)" pointer-events="all" />
    <path d="M -34 1000 L 46 1000" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(90,6,1000)" pointer-events="all" />
    <rect x="401" y="800" width="80" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 820px; margin-left: 441px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Trap
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="441" y="827" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Trap</text>
        </switch>
    </g>
    <path d="M 1081 765 L 1141 765" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(180,1111,765)" pointer-events="all" />
    <path d="M 1321 765 L 1401 765" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(180,1361,765)" pointer-events="all" />
    <path d="M 1201 765 L 1281 765" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="2 2" transform="rotate(180,1241,765)" pointer-events="all" />
    <rect x="901" y="65" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 85px; margin-left: 951px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Keuken
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="951" y="92" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Keuken</text>
        </switch>
    </g>
    <rect x="621" y="657.5" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 678px; margin-left: 671px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Receptie
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="671" y="685" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Receptie</text>
        </switch>
    </g>
    <path d="M 726 677.5 L 886 677.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="6 6" transform="rotate(90,806,677.5)" pointer-events="all" />
    <path d="M 446 677.5 L 606 677.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
          stroke-dasharray="6 6" transform="rotate(90,526,677.5)" pointer-events="all" />
    <rect x="1486" y="945" width="100" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 965px; margin-left: 1536px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Berging
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1536" y="972" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Berging</text>
        </switch>
    </g>
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 860px; margin-left: 1771px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Fietsenstalling
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="1771" y="867" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Fietsenstalling</text>
        </switch>
    </g>
    <rect x="1001" y="870" width="300" height="90" fill="#000000" stroke="#000000" stroke-width="3"
          pointer-events="all" transform="translate(2,3)" opacity="0.25" />
    <rect x="1001" y="870" width="300" height="90" fill="#ff3399" stroke="#000000" stroke-width="3"
          pointer-events="all" />
    <rect x="11" y="770" width="150" height="40" fill="none" stroke="none" pointer-events="all"
          transform="translate(2,3)" opacity="0.25" />
    <g transform="translate(-0.5 -0.5)">
        <switch>
            <foreignObject pointer-events="all" width="100%" height="100%"
                           requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                           style="overflow: visible; text-align: left;">
                <div xmlns="http://www.w3.org/1999/xhtml"
                     style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 790px; margin-left: 86px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;">
                        <div style="display: inline-block; font-size: 24px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; font-weight: bold; white-space: nowrap;">
                            Vergaderzaal
                        </div>
                    </div>
                </div>
            </foreignObject>
            <text x="86" y="797" fill="#000000" font-family="Helvetica" font-size="24px"
                  text-anchor="middle" font-weight="bold">Vergaderzaal</text>
        </switch>
    </g>
    <path d="M 91 1030 L 111 810 L 191 810 L 211 1030 Z" fill="#000000" stroke="#000000" stroke-width="3"
          stroke-miterlimit="10" transform="translate(2,3)rotate(270,151,920)" pointer-events="all"
          opacity="0.25" />
    <path d="M 91 1030 L 111 810 L 191 810 L 211 1030 Z" fill="#ff3399" stroke="#000000" stroke-width="3"
          stroke-miterlimit="10" transform="rotate(270,151,920)" pointer-events="all" />
    <path id="1" class="seat@(_seatsReserved.Contains(1) ? "taken":"available")" @onclick="@(e => NavigateTo(1))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 221 540 C 221 520 221 510 241 510 C 227.67 510 227.67 490 241 490 C 254.33 490 254.33 510 241 510 C 261 510 261 520 261 540 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(-180,241,515)"
          pointer-events="all" />
    <path id="2" class="seat@(_seatsReserved.Contains(2) ? "taken":"available")" @onclick="@(e => NavigateTo(2))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 221 390 C 221 370 221 360 241 360 C 227.67 360 227.67 340 241 340 C 254.33 340 254.33 360 241 360 C 261 360 261 370 261 390 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" pointer-events="all" />
    <path id="3" class="seat@(_seatsReserved.Contains(3) ? "taken":"available")" @onclick="@(e => NavigateTo(3))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 101 390 C 101 370 101 360 121 360 C 107.67 360 107.67 340 121 340 C 134.33 340 134.33 360 121 360 C 141 360 141 370 141 390 Z"
          stroke="#82b366" stroke-width="2" stroke-miterlimit="10" pointer-events="all" />
    <path id="4" class="seat@(_seatsReserved.Contains(4) ? "taken":"available")" @onclick="@(e => NavigateTo(4))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 101 540 C 101 520 101 510 121 510 C 107.67 510 107.67 490 121 490 C 134.33 490 134.33 510 121 510 C 141 510 141 520 141 540 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(-180,121,515)"
          pointer-events="all" />
    <rect x="41" y="390" width="280" height="100" fill="#ff3399" stroke="#000000" stroke-width="3"
          pointer-events="all" />
    <path id="5" class="seat@(_seatsReserved.Contains(5) ? "taken":"available")" @onclick="@(e => NavigateTo(5))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 721 395 C 721 375 721 365 741 365 C 727.67 365 727.67 345 741 345 C 754.33 345 754.33 365 741 365 C 761 365 761 375 761 395 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" pointer-events="all" />
    <path id="6" class="seat@(_seatsReserved.Contains(6) ? "taken":"available")" @onclick="@(e => NavigateTo(6))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 641 395 C 641 375 641 365 661 365 C 647.67 365 647.67 345 661 345 C 674.33 345 674.33 365 661 365 C 681 365 681 375 681 395 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" pointer-events="all" />
    <path id="7" class="seat@(_seatsReserved.Contains(7) ? "taken":"available")" @onclick="@(e => NavigateTo(7))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 641 535 C 641 515 641 505 661 505 C 647.67 505 647.67 485 661 485 C 674.33 485 674.33 505 661 505 C 681 505 681 515 681 535 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(-180,661,510)"
          pointer-events="all" />
    <path id="8" class="seat@(_seatsReserved.Contains(8) ? "taken":"available")" @onclick="@(e => NavigateTo(8))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 721 535 C 721 515 721 505 741 505 C 727.67 505 727.67 485 741 485 C 754.33 485 754.33 505 741 505 C 761 505 761 515 761 535 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(-180,741,510)"
          pointer-events="all" />
    <path id="9" class="seat@(_seatsReserved.Contains(9) ? "taken":"available")" @onclick="@(e => NavigateTo(9))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 561 535 C 561 515 561 505 581 505 C 567.67 505 567.67 485 581 485 C 594.33 485 594.33 505 581 505 C 601 505 601 515 601 535 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(-180,581,510)"
          pointer-events="all" />
    <path id="10" class="seat@(_seatsReserved.Contains(10) ? "taken":"available")" @onclick="@(e => NavigateTo(10))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 561 395 C 561 375 561 365 581 365 C 567.67 365 567.67 345 581 345 C 594.33 345 594.33 365 581 365 C 601 365 601 375 601 395 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" pointer-events="all" />
    <rect x="501" y="395" width="300" height="90" fill="#ff3399" stroke="#000000" stroke-width="3"
          pointer-events="all" />
    <path id="11" class="seat@(_seatsReserved.Contains(11) ? "taken":"available")" @onclick="@(e => NavigateTo(11))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 1251 145 C 1251 125 1251 115 1271 115 C 1257.67 115 1257.67 95 1271 95 C 1284.33 95 1284.33 115 1271 115 C 1291 115 1291 125 1291 145 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(90,1271,120)"
          pointer-events="all" />
    <path id="12" class="seat@(_seatsReserved.Contains(12) ? "taken":"available")" @onclick="@(e => NavigateTo(12))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 1116 115 C 1116 95 1116 85 1136 85 C 1122.67 85 1122.67 65 1136 65 C 1149.33 65 1149.33 85 1136 85 C 1156 85 1156 95 1156 115 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(270,1136,90)"
          pointer-events="all" />
    <path id="13" class="seat@(_seatsReserved.Contains(13) ? "taken":"available")" @onclick="@(e => NavigateTo(13))" onmouseover="showMessage(this.id)" onmouseout="hideMessage()"
          d="M 1116 165 C 1116 145 1116 135 1136 135 C 1122.67 135 1122.67 115 1136 115 C 1149.33 115 1149.33 135 1136 135 C 1156 135 1156 145 1156 165 Z"
          fill="#d5e8d4" stroke="#82b366" stroke-width="2" stroke-miterlimit="10" transform="rotate(270,1136,140)"
          pointer-events="all" />
    <rect x="1111" y="80" width="180" height="80" fill="#ff3399" stroke="#000000" stroke-width="3"
          transform="rotate(90,1201,120)" pointer-events="all" />
</g>
<switch>
    <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" />
    <a transform="translate(0,-5)"
       xlink:href="https://www.diagrams.net/doc/faq/svg-export-text-problems" target="_blank">
        <text text-anchor="middle" font-size="10px" x="50%" y="100%">
            Viewer does not support full SVG
            1.1
        </text>
    </a>
</switch>

    
</svg>
<div id="details"></div>

@code
{
    [Inject]
    private NavigationManager UriHelper { get; set; }
    [Inject]
    private IReservationController Controller { get; set; }

    private List<int> _seatsReserved;

    private bool IsTaken { get; set; }

    [Parameter]
    public List<int> SeatsReserved
    {
        get { return _seatsReserved; }
        set
        {
            if (value == null)
            {
                _seatsReserved = Controller.GetSeatIdsReservedForDate(DateTime.Now);
            }
            else
            {
                _seatsReserved = value;
            }

            StateHasChanged();
        }
    }


    public void NavigateTo(int id)
    {
        UriHelper.NavigateTo("/coworking/reserveer/seatReservationForm/" + id, false);
    }
}