@page "/reservaties"
@attribute [Authorize]
@using devops_project_web_t4.Shared.Components
@using devops_project_web_t4.Areas.Controllers 
@inject AuthenticationStateProvider AuthState

@if (!string.IsNullOrEmpty(_error))
{
    <div class="alert alert-danger" role="alert">@_error</div>
}
@if (!string.IsNullOrEmpty(_message))
{
    <div class="alert alert-success" role="alert">@_message</div>
}

<h1 class="text-center locationSelectorElement">Uw <span class="pinkUnderline">reservaties</span></h1>

<h2>Coworking</h2>
<table class="table">
    <thead>
        <tr>
            @foreach (var header in _coworkingTableHeaders)
            {
                <th scope="col">@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _coworkingTableData)
        {
            <tr>
                @foreach (var cell in row.Skip(1))
                {
                    <td>@cell</td>
                }
                @if (DateTime.Parse(row[2]) > DateTime.Now)
                {
                    <td><a href="" @onclick="() => CancelCoworkingReservation(row[0])"  @onclick:preventDefault>Annuleer</a></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">
                <p>
                    @if (BackLinkEnabledCW)
                    {
                        <a href="" @onclick="@PreviousPageCoworking"  @onclick:preventDefault>&lt; Vorige</a>
                    }
                    else
                    {
                        <span class="textDisabled">&lt; Vorige</span>
                    }
                     | Pagina @_currentPageCW/@_numberOfPagesCW |
                    @if (NextLinkEnabledCW)
                    {
                        <a href="" @onclick="@NextPageCoworking"  @onclick:preventDefault>Volgende &gt;</a>
                    }
                    else
                    {
                        <span class="textDisabled">Volgende &gt;</span>
                    }
                </p>
            </td>
        </tr>
    </tfoot>
</table>

<h2>Meetingrooms</h2>
<table class="table">
    <thead>
        <tr>
            @foreach (var header in _meetingroomTableHeaders)
            {
                <th scope="col">@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _meetingroomTableData)
        {
            <tr>
                @foreach (var cell in row.Skip(1))
                {
                    <td>@cell</td>
                }
                @if (DateTime.Parse(row[2]) > DateTime.Now)
                {
                    <td><a href="" @onclick="() => CancelMeetingRoomReservation(row[0])"  @onclick:preventDefault>Annuleer</a></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">
                <p>
                    @if (BackLinkEnabledMR)
                    {
                        <a href="" @onclick="@PreviousPageMeetingroom"  @onclick:preventDefault>&lt; Vorige</a>
                    }
                    else
                    {
                        <span class="textDisabled">&lt; Vorige</span>
                    }
                     | Pagina @_currentPageMR/@_numberOfPagesMR |
                    @if (NextLinkEnabledMR)
                    {
                        <a href="" @onclick="@NextPageMeetingroom"  @onclick:preventDefault>Volgende &gt;</a>
                    }
                    else
                    {
                        <span class="textDisabled">Volgende &gt;</span>
                    }
                </p>
            </td>
        </tr>
    </tfoot>
</table>

<AuthorizeView Roles="Admin">
	<a href="../beheer/reservaties">Beheer alle reservaties</a>
</AuthorizeView>
